.main {
  width: 60%;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
}

a {
  text-decoration: none;
  color: black;
}

nav div a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

nav div a.active {
  color: white;
  background-color: black;
  padding: 8px;
  border-radius: 10px;
}

.postItem {
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.postItem img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.date {
  font-weight: 400;
  color: gray;
  display: flex;
  align-items: center;
  gap: 6px;
}

.detail {
  width: 60%;
  margin: auto;
}

.detail img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.clock {
  width: 20px;
}

.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 20px;
  cursor: pointer;
}

.post-form {
  width: 40%;
  margin: auto;
  background-color: #d4d0d0;
  border-radius: 10px;
  padding: 20px 50px;
  margin-top: 20px;
}

.post-form p {
  font-size: 20px;
  font-weight: 600;
}

.post-form form div {
  margin-top: 16px;
}

.post-form form div label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.post-form form div input,
textarea {
  width: 92%;
  border: 1px solid #d4d0d0;
  outline: none;
  border-radius: 5px;
  padding: 8px 10px;
}

.btn {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 0px;
}

.sm {
  width: fit-content;
}

.login-form {
  width: 40%;
  margin: auto;
  background-color: #d4d0d0;
  border-radius: 10px;
  padding: 20px 50px;
  margin-top: 20px;
}

.login-form p {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

.login-form div {
  margin-top: 10px;
}

.login-form div label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.login-form div input {
  width: 90%;
  border: 1px solid #d4d0d0;
  outline: none;
  border-radius: 5px;
  padding: 8px 10px;
}

.login-form h1 {
  font-size: 16px;
  color: #565656;
  font-weight: 300;
}

.login-form span{
  color: #ff0000;
}

.create-acc {
  color: #565656;
  text-decoration: underline;
}

.create-acc:hover {
  cursor: pointer;
}

.errorPage {
  width: 60%;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorPage div {
  text-align: center;
}

.errorPage div .icon {
  width: 10rem;
  height: 10rem;
}

.er-btn {
  width: max-content;
  padding: 10px 20px;
  display: inline-block;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

.er-btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s all ease-in;
}

.detail-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

@media (max-width: 900px) {
  .main,
  .detail,
  .form-section {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .main,
  .detail,
  .form-section {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .main,
  .detail,
  .form-section {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .main,
  .detail,
  .form-section {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .main,
  .detail,
  .form-section {
    width: 100%;
  }
}
